@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700|Montserrat);

$background-color: #f9f9f9;
$primary-color: #62706c;

$link-color: #1ECD97;
$link-hover-color: #74777b;

body {
  background: $background-color;
  color: $primary-color;
}

span.responsive-header {
	font-size: 20px;
	color: #ddd !important;
}

.tm-footer h1, h2, h3, h4, h5, h6 {
	color: #ddd !important;
}