<div style="margin-top: 1em;"><span class="main-heading">Ahmed <b>Jafri</b></span>
    <div class="row row-cols-auto no-gutters" style="margin-top: 0.3em;">
            <a class="header-link link-dark" href="./about.html">About</a>
            <a class="header-link link-dark"
                    href="https://www.linkedin.com/in/ahmedjafrii/">LinkedIn</a>
            <a class="header-link link-dark"
                    href="https://twitter.com/ahmedjafrii">Twitter</a>
            <a class="header-link link-dark"
                    href="https://github.com/ahmedjafri">GitHub</a>
    </div>